# Web3Forms Configuration
WEB3FORMS_ACCESS_KEY=d487ed1b-0ec8-4922-ab63-8bc6304dc1b9

# Optional: Analytics
NEXT_PUBLIC_GA_ID=

# Optional: Contact Email (for form redirects)
NEXT_PUBLIC_EMAIL=chiragparashar1812@gmail.com
